.container{
    max-width: 1100px;
    margin: auto;
}
body{
    margin: 0;
}
.right_menu{
    float: right;
    padding-top: 8px;
}
header{
    padding: 20px 0;
}
a{
    color: #262f5a;
    text-decoration: none;
}
header a{
    margin: 20px;
}
html ,body{
    font-family: "poppins" , sans-serif;
}
.call_to_action{
    color: #896eff;
}
.call_to_action i{
    color: #fff;
    background-color:#896eff;
    padding: 10px;
    border-radius: 50%;
/*    width: 20px;
    height: 20px;
    position: relative;
    top: 9px;*/
}
/*.call_to_action i::before{
    position: absolute;
    left: 10px;
    transition: left 0.3 ease-in-out;
}
.call_to_action:hover i::before{
    left: 13px;
}*/
.half{
    width: 50%;
    float: left;
}
h5{
    color: #896eff;
    font-size: 16px;
    letter-spacing: 4px;
}
h1{
    color: #1f2471;
    margin: 10px 0;
    font-size: 40px;
}
h1 span{
    color: #896eff;
}
p{color: #505489;

}
img{
    max-width: 100%;
}
.imgHolder{
    position: relative;
}
.img1{
    position: absolute;
    top: 0;
    left: 0;
    animation-name: move1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.img2{
    position: absolute;
    top: 50px;
    left: 0;
    animation-name: move2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes move1 {
    25%{transform:rotate(5deg) }
    75%{transform:rotate(-5deg) }
}
@keyframes move2 {
    25%{transform:rotate(-2deg) }
    75%{transform:rotate(2deg) }
}
.first{
    padding-top: 100px;
}
.clear{
    clear: both;
}
.img_slide{
    background-color: #2e2651;
    width: 15%;
    float: left;
    margin-right: 5%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.images_sec{
    padding: 150px 0;
}
.img_slide img{
    display: block;
    margin: auto;
}
.img_slide:hover{
    background-color: #1f2471;
    box-shadow: 0px 0px 14px #000000;
}
.img_slide .i2{
    display: none;
}
.img_slide:hover .i2{
    display: block;
}
.img_slide:hover .i1{
    display: none;
}



